---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<div class="flex justify-center">
			<Image
				src="https://bucket01.blob.core.windows.net/container01/neofetch2.gif"
				height="800"
				width="710"
				alt="neofetch"
				loading="eager"
				fetchpriority="high"
			/>
		</div>

		<!-- <p> -->
		<!-- 	Hi, I’m Clarence Du, i'm a full-stack developer. I love OS principles, I think most of design pattern can be found in Unix/Linux, that's why I wanna dive into OS principles. -->
		<!--     Perhaps I will learn C++ or Rust in someday until my current stuff has been done. -->
		<!-- </p> -->
		<!-- <p>Here are my some of my awesome built in features:</p> -->
		<ul class="list-inside list-disc">
			<li>I'm currently learning Remix.js, Astro.js, Golang, Linux Kernel, Español</li>
			<li>
				I'm reading <span class="font-semibold">《Operating System: Three Easy Pieces》</span>
			</li>
			<li>I'm working on my personal project -- a fake language interpreter</li>
		</ul>
	</div>
</PageLayout>
