---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Clarence Du, i think i'm a full-stack developer. I am familiar with C#, Golang, Python, TypeScript.
      I love OS principles, I think most of design thoughts can be found in Unix/Linux as well, that's why I put my attention on OS recently.
      Perhaps I will learn C++ or Rust in someday until my current stuff has been done.
		</p>
		<div class="flex justify-center">
			<Image
				src="https://bucket01.blob.core.windows.net/container01/neofetch.gif"
        height = "800"
        width = "710"
				alt="neofetch"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<!-- <p>Here are my some of my awesome built in features:</p> -->
		<ul class="list-inside list-disc">
			<li>I'm currently learning Remix.js, Astro.js, Golang, Linux Kernel, Español</li>
			<li>
        I'm reading <span class="font-bold">Operating Systems: Three Easy Pieces</span>
      </li>
      <li>I'm working on my personal project -- A fake language interpreter</li>
		</ul>
	</div>
</PageLayout>
